body {
	background: #F2F2F2;
	font-family: arial;
}

h1, h2, h3 {
	color: #274587;
}


.hul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #274587;
  position: center;
  top: 0;
  width: 100%;
  font-size: 2.5rem;
  border-radius: 10px;
}

.hli {
  float: left;
}

.hli a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.hli a:hover:not(.active) {
  background-color: #b4b3ff;
}

p {
	padding: 10px;
}


/*Desktop*/
@media screen and (min-aspect-ratio: 15/9) {
  .container{
	background: white;
	margin-left: 20%;
	margin-right: 20%;
	padding: 10px;
	
}
}

/*Phone*/
@media screen and (max-aspect-ratio: 15/9) {
  .container{
	background: white;
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px;

}
}